[submodule "nft-bonds/lib/forge-std"]
	path = nft-bonds/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/tokenbound"]
	path = lib/tokenbound
	url = https://github.com/tokenbound/contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "nft-bonds/lib/tokenbound"]
	path = nft-bonds/lib/tokenbound
	url = https://github.com/tokenbound/contracts
[submodule "nft-bonds/lib/openzeppelin-contracts"]
	path = nft-bonds/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
